@model Student
<form method="post">
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="StudentId">Id</label>
        <div class="col-10">
            <input class="form-control" type="number" asp-for="StudentId">
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="ClassId">Class</label>
        <div class="col-10">
            <select class="form-select" asp-for="ClassId" asp-items="@ViewBag.Classes"></select>
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="FirstName">First Name</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="FirstName">
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="LastName">Last Name</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="LastName">
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Email">Email</label>
        <div class="col-10">
            <input class="form-control" type="email" asp-for="Email">
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Gender">Gender</label>
        <div class="col-10">
            <select class="form-select" asp-for="Gender">
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Score">Score</label>
        <div class="col-10">
            <input class="form-control" type="number" step="0.1" asp-for="Score">
        </div>
    </div>
    <div>
        <button class="btn btn-primary">Save Changes</button>
    </div>
</form>